@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-left">
    <h1 class="display-4">Dashboard</h1>
</div>
<div>
    <h2>Judges</h2>
    <p>30/260 Graded</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @((30.0 / 260.0) * 100)%;" aria-valuenow="@((30.0 / 260.0) * 100)" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h2>IS 401</h2>
    <p>75/260 Graded</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @((75.0 / 260.0) * 100)%;" aria-valuenow="@((75.0 / 260.0) * 100)" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h2>IS 413</h2>
    <p>150/260 Graded</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @((150.0 / 260.0) * 100)%;" aria-valuenow="@((150.0 / 260.0) * 100)" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h2>IS 414</h2>
    <p>90/260 Graded</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @((90.0 / 260.0) * 100)%;" aria-valuenow="@((90.0 / 260.0) * 100)" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>

    <h2>IS 455</h2>
    <p>200/260 Graded</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @((200.0 / 260.0) * 100)%;" aria-valuenow="@((200.0 / 260.0) * 100)" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br> 
</div>

